@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	height: 100%;	/* 100% höjd för att hela sidan ska stretchas ned oavsett pixeldensitet/skärmstorlek */
    width: 100%;	/* för att strecka horizontellt över hela skärmen, content centreras med margin */
	display: table;	/* för att få vertikal uppställning med element som har dynamisk höjd */
	margin: 0;		/* bort med default margin */
}

body {
	font-family: Roboto, Helvetica, Arial;
	color: #4b4b4b;
	background-image: url(../images/crossword.png); /* bakgrund tagen från sublepatterns.com */
}

a {
	text-decoration: none;	/* ingen text-decoration för icke specifierade länkar */
	color: #91B8C3;			/* färg för icke specifierade länkar */
}

h1 {
	font-size: 36px;
}

h2, h3 {
	color: #232323;
	padding-bottom: 10px;				/* skapar mer utrymme för headings taggarna */
	margin-top: 0;						/* för att funka med padding för många divar */
	border-bottom: 1px solid #65979b;	/* lite mer tydlig/strukturerad som heading */
}

ul {
	list-style-type: none;	/* inga punkter för ul */
}

/***** HEADER/NAVIGATION *****/

header {
	height: 55px;					/* höjd på header/nav */
	background-color: #fff;			/* vit bg-färg*/
	border-bottom: 1px solid #ccc;	/* svagt streck för urskiljning */
	position: fixed;				/* alltid vid toppen av bildskärmen */
	width: 100%;					/* sträcker sig horizontellt över hela skärmen */
	z-index: 2;						/* så det ligger främst, pga js slider */
}

nav {
	width: 960px;	/* bredd på header/nav */
	margin: auto;	/* centrerad */
}

nav img {
	padding: 12px 30px;	/* padding för loggan */
	filter: saturate(0.8);
}

nav img:hover {
	filter: saturate(5);
}

nav ul {
	margin: 0;		/* för positionering */
	float: right;	/* hålla sig till höger sida */
}

nav li {
	float: left;		/* positionering */
	font-weight: bold;	/* stil */
	font-size: 12px;	/* stil */
	margin-top: 20px; 	/* positionering */
}

nav li a {
	padding: 20px 15px; /* För att skapa större klick-area på länkarna så att man inte måste vara precis på texten */
	margin-left: -5px; /* Minska avståndet mellan länkarna i navigationen så att det är "cross-over" och något alltid är klickbart */
}

nav li a:hover { /* stil */
	color: #C4DDE3;
	border-bottom: 3px solid #65979b;
	background-color: #f4f9f9
}

/***** CONTENT *****/

article {
	width: 595px;
	margin-bottom: 20px; /* mot footer om det behövs */
	display: inline-block;
}

article a {
	margin-left: 5px;
}

article img, #gallery img, #package img {
	box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

aside {
	display: inline-block;
	float: right;
}

#content {
	display: block;
	width: 960px;		/* bredd */
	margin: 0 auto 50px auto;		/* centrering */
	padding-top: 56px;	/* för att komma nedanför header/nav */
	min-height: 1150px;
}

#content p {
	padding: 10px 0;
	border-radius: 2px;
	line-height: 1.6em;
}

#content p:first-of-type { /* de sista p skapar inte margin nedåt som "krockar" med padding på divar*/
	margin-top: 0;
	padding-top: 0;
}

#content p:last-of-type { /* de sista p skapar inte margin nedåt som "krockar" med padding på divar*/
	margin-bottom: 0;
	padding-bottom: 0;
}

form {
	font-weight: bold;
}

form input {
	margin: 5px 0 20px 0;
	padding: 13px;
	background-color: #f7fdfd;
	border: 1px solid #ccc;
	border-radius: 2px;
}

form textarea {
	margin: 10px 0 0 0;
	padding: 7px;
	background-color: #f7fdfd;
	border: 1px solid #ccc;
	border-radius: 2px;
}

form [type="submit"] {
	margin: 0;
	background-color: #fff; 
}

article, #package, #help, #gallery {
	padding: 25px;										/* padding */
	border-radius: 2px;									/* rundare hörn */
}

#image-slider-container {
	background-color: #fff;
	padding: 20px;
	width: 920px;										/* lika bred som content */
	height: 150px;										/* höjd */
	position: relative;
	margin: 20px 0;										/* utrymme upp och ned */
	border: 1px solid #f1f1f1;
	border-radius: 2px;									/* rundare hörn */
}

#image-slider-container h1 {
	color: #fff;
	text-shadow: 0 0 6px rgba(0,0,0,1);
	font-weight: bold;
	position: absolute;
	z-index: 1;
	margin: 55px 0 0 50px;
}

#image-slider img {										/* kommer att vara en slider senare */
	position:absolute;									/* för att de inte ska röra sig när js körs */
}

main {
	display: inline-block;
	width: 647px;
}

#nav-sub {
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	margin: 0 0 10px 0;
	font-size: 0.85em;
}

#nav-sub a {
	text-decoration: underline;
}

.info-title {
	display: inline;
	line-height: 1.6em;
}

.info-title span {
	font-weight: bold;
	line-height: 1.8em;
	font-size: 1.1em;
}

#preview {
	width: 595px;				/* bredd */
	margin-bottom: 30px;		/* pos */
}

#preview img {		/* ska vara som en image slider fast med kontroll och bilder och länkar till rum */
	width: 100%;	/* å bild inte sträcker utanför */
}

.image-margin {
	margin-bottom: 15px;
}

.room-preview {
	margin: 25px 0 60px 0;
}

.room-preview:last-of-type {
	margin-bottom: 0;
}

.room-preview img {
	height: 180px;	/* höjd */
}

.room-title {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #232323;
}

.room-preview p {
	margin-top: 0;
}

.package-preview {
	margin: 25px 0 35px 0;
}

.package-preview:last-of-type {
	margin: 0;
}

.package-preview img {
	margin-bottom: 5px;
}

.room-preview img, .package-preview img {
	float: left;	/* pos */
	margin-right: 22px;
}

#gallery {
	width: 595px;				/* bredd */
	padding: 25px;				/* pos */
}

.gallery-row div:first-of-type {	/* dela upp i rader av 3 så att man kan pos mot kanten */
	margin-left: 0;
}

.gallery-row div:last-of-type {		/* dela upp i rader av 3 så att man kan pos mot kanten */
	margin-right: 0;
}

#gallery, article, #package, #help {	/* bg-färg */
	background-color: #fff;	
	border: 1px solid #f1f1f1;
}

#gallery img {
	width: 100%;	/* full bredd av parent div */
	height: 120px;	/* höjd */
}

#gallery h2 {
	margin: 0 25 30px 25px; /* lite större utrymme */
}

.gallery-img-box {	/* stil och pos */
	width: 165px;
	display: inline-block;
	margin: 0 20px 24px 24px;
	font-size: 0.9em;
	text-align: center;
}

.gallery-img-box img {
	margin-bottom: 10px; /* mer avstånd mellan bild och text */
}

#package {
	width: 250px;
	margin-bottom: 20px; /*justering av pos med #help */
}

article a, #package a {
	font-size: 0.8em;
	font-weight: bold;
}

#package img {
	height: 150px;
	width: 100%;		/* full bredd av parent div */
	border-radius: 2px;
}

#package ul {
	margin: 0;	/* justering pos */
	padding: 0;	/* justering pos */
}

#package li {
	margin: 10px 0 25px 0; /* pos */
	padding: 0;
	width: 250px;
}

#package li:last-of-type, #package p:last-of-type {
	margin-bottom: 0;
}

#package p {
	margin-top: 0;
	padding: 10px 0;
}

#package span {
	color: #232323;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 2em;
	margin-bottom: 15px;
}

#help {
	width: 250px;
}

#help i {
	font-weight: bold;
}

.preview-slider-focus {
	position: relative;
}

.preview-slider-desc {
	position: absolute;
	bottom: 50px;
	left: 0;
	background-color: #EAF4F7;
	padding: 20px;
	opacity: 0.8;
}

.preview-slider-nav {
	margin-top: 10px;
}

.preview-slider-nav-img-container {
	float: left;
	margin-right: 11px;
	margin-bottom: -10px;
}

.preview-slider-nav-img-container:last-of-type {
	margin: 0 0 -10px 0;
}

.preview-slider-nav-img-container img  {
	height: 90px;
	width: 140px;
}

.preview-slider-nav-img-container img:hover  {
	opacity: 1!important;	/* !important för att överskrida javascript opacity 0.2 */
	transition: .3s ease;
}

.slides {
	width:  595px;
	height: 400px;
}

/***** FOOTER *****/

footer { /* stil */
	width: 100%;
	position: absolute;
	background-color: #f4f9f9;
	font-size: 0.9em;
	line-height: 2em;
	display: table-row; /* för pos/hålla sig på botten */
	border-top: 1px solid #e3f1f2;
}

footer p {
	font-weight: bold;
	margin-top: 0; /* För att lättare kunna positionera utan paragrafens automatiska värde av margin uppåt */
}

footer ul { /* pos */
	padding: 0;
	margin: 0;
}

footer li a { /* stil */
	color: #848484;
}

#footer-wrapper { 		/* funkar som nav elementet fast längst ned*/
	padding: 20px;
	width: 940px;
	margin: 0 auto; 	/* centrering */
	overflow: hidden; 	/* För att få "child-divarna" att omslutas av denna div pga float:left i dem */
}

#footer-links, #footer-contact, #footer-map, #footer-social-media {
	padding: 0 40px;
	float: left; /* För att divarna ska ordnas i rätt höjd och avstånd */
}

#footer-map img {
	height: 120px;
	width: 120px;
	border: 1px solid #ccc;
}

#footer-social-media img { /* pos */
	height: 50px;
	width: 50px;
	margin: 10px 5px;
}

#footer-map, #footer-social-media {
	text-align: center;	/* centrera copyright texten */
}

#footer-copyright {
	margin-top: 15px; /* pos */
}