html, body{display:table;height:100%;width:100%;}
body{background-image:url(../images/crossword.png);color:#4b4b4b;font-family:'Roboto', sans-serif;font-size:16px;}
a{color:#91B8C3;text-decoration:none;}
h1{font-size:36px;}
h2, h3{border-bottom:1px solid #65979b;color:#232323;margin-top:0;padding-bottom:10px;}
ul{list-style-type:none;}
header{background-color:#fff;border-bottom:1px solid #ccc;height:55px;position:fixed;width:100%;z-index:2;}
nav{margin:auto;width:960px;}
nav img{-webkit-filter:saturate(0.8);filter:saturate(0.8);padding:12px 30px;}
nav img:hover{-webkit-filter:saturate(5);filter:saturate(5);}
nav li{float:left;font-size:12px;font-weight:bold;margin-top:20px;}
nav li a{margin-left:-5px;padding:20px 15px;}
nav li a:hover{background-color:#f4f9f9;border-bottom:3px solid #65979b;color:#C4DDE3;}
nav ul{float:right;margin:0;}
article{display:inline-block;margin-bottom:20px;width:595px;}
article a{margin-left:5px;}
article a, #package a{font-size:0.8em;font-weight:bold;}
article img, #gallery img, #package img, #img-preview img{-moz-box-shadow:0 2px 4px rgba(0,0,0,0.18);-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.18);box-shadow:0 2px 4px rgba(0,0,0,0.18);}
article, #gallery, #help, #package, #img-preview{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;padding:25px;background-color:#fff;border:1px solid #f1f1f1;}
aside{display:inline-block;float:right;}
#content{display:block;margin:0 auto 50px auto;min-height:1140px;padding-top:56px;width:960px;}
#content p{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;line-height:1.6em;padding:10px 0;}
#content p:first-of-type{margin-top:0;padding-top:0;}
#content p:last-of-type{margin-bottom:0;padding-bottom:0;}
form{font-weight:bold;}
form input{margin:5px 0 20px 0;padding:13px;}
form textarea{margin:10px 0 0 0;padding:7px;}
form input, form textarea, form [type="submit"]{-moz-border-radius:2px;-webkit-border-radius:2px;background-color:#f7fdfd;border-radius:2px;border:1px solid #f1f1f1;}
form [type="submit"]{font-weight:bold;margin-top:25px;margin:15px 0 0 0;padding:10px;}
form [type="submit"]:hover{background-color:#91B8C3;}
#gallery{padding:25px;width:595px;}
#gallery img{height:120px;width:100%;}
.gallery-img-box{display:inline-block;font-size:0.9em;margin:0 20px 24px 24px;text-align:center;width:165px;}
.gallery-img-box img{margin-bottom:10px;}
.gallery-row div:first-of-type{margin-left:0;}
.gallery-row div:last-of-type{margin-right:0;}
#help{width:250px;}
#help i{font-weight:bold;}
.image-margin{margin-bottom:15px;}
#image-slider img{position:absolute;}
#image-slider-container{-moz-border-radius:2px;-webkit-border-radius:2px;background-color:#fff;border-radius:2px;border:1px solid #f1f1f1;height:150px;margin:20px 0;padding:20px;position:relative;width:920px;}
#image-slider-container h1{color:#fff;font-weight:bold;margin:55px 0 0 50px;position:absolute;text-shadow:0 0 6px rgba(0,0,0,1);z-index:1;}
#img-preview{display:inline-block;margin-bottom:20px;width:595px;}
.info-title{display:inline;line-height:1.6em;}
.info-title span{font-size:1.1em;font-weight:bold;line-height:1.8em;}
.info-title button{width:595px;-moz-border-radius:2px;background-color:#f7fdfd;border:1px solid #f1f1f1;font-weight:bold;margin-bottom:10px;padding:10px;-webkit-border-radius:2px;border-radius:2px;}
.info-title button:hover{background-color:#91B8C3;}
main{display:inline-block;width:647px;}
#nav-sub{background-color:#fff;border:1px solid #f1f1f1;font-size:0.85em;margin:0 0 10px 0;padding:10px 20px;}
#nav-sub a{text-decoration:underline;}
#package{margin-bottom:20px;width:250px;}
#package img{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;height:150px;width:100%;}
#package li{margin:10px 0 25px 0;padding:0;width:250px;}
#package li:last-of-type, #package p:last-of-type{margin-bottom:0;}
#package p{margin-top:0;padding:10px 0;}
#package span{color:#232323;font-size:1.1em;font-weight:bold;line-height:2em;margin-bottom:15px;}
#package ul{margin:0;padding:0;}
.package-preview{margin:25px 0 35px 0;}
.package-preview:last-of-type{margin:0;}
.package-preview img{margin-bottom:5px;}
#preview{margin-bottom:30px;width:595px;}
#preview img{width:100%;}
.preview-slider-desc{background-color:#EAF4F7;bottom:50px;left:0;opacity:0.8;padding:20px;position:absolute;}
.preview-slider-focus{position:relative;}
.preview-slider-nav{margin-top:10px;}
.preview-slider-nav-img-container{float:left;margin-bottom:-10px;margin-right:11px;}
.preview-slider-nav-img-container:last-of-type{margin:0 0 -10px 0;}
.preview-slider-nav-img-container img{height:90px;width:140px;}
.preview-slider-nav-img-container img:hover{opacity:1!important;transition:.3s ease;-webkit-transition:.3s ease;-moz-transition:.3s ease;-o-transition:.3s ease;}
.room-preview{margin:25px 0 60px 0;}
.room-preview:last-of-type{margin-bottom:0;}
.room-preview p{margin-top:0;}
.room-preview img{height:180px;}
.room-preview img, .package-preview img{float:left;margin-right:22px;}
.room-title{color:#232323;font-size:1.2em;font-weight:bold;margin-bottom:10px;}
.slides{height:400px;width:595px;}
footer{background-color:#f4f9f9;border-top:1px solid #e3f1f2;display:table-row;font-size:0.9em;line-height:2em;position:absolute;width:100%;}
footer li a{color:#848484;}
footer p{font-weight:bold;margin-top:0;}
footer ul{margin:0;padding:0;}
#footer-copyright{margin-top:15px;}
#footer-links, #footer-contact, #footer-map, #footer-social-media{float:left;padding:0 40px;}
#footer-map img{border:1px solid #ccc;height:120px;width:120px;}
#footer-map, #footer-social-media{text-align:center;}
#footer-social-media img{height:50px;margin:10px 5px;width:50px;}
#footer-wrapper{margin:0 auto;overflow:hidden;padding:20px;width:940px;}
html{margin:0;padding:0;border:0;}
body{margin:0;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{float:none !important;font-weight:normal;text-align:left;}
table, th, td{vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after{content:'';}
blockquote, q{quotes:"" "";}
a img{border:none;}
:focus{outline:0;}